################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeAdminPortalProject/appsettings.json
/EmployeeAdminPortalProject/bin/Debug/net8.0
/EmployeeAdminPortalProject/obj
